
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
   .splash {
    background: black;
    overflow: hidden;
   }
  
   .about-content {
    margin-top: 80px;
   }
  
  /* Splash screen content */
  .content-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 40px;
  }
  
  img.logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
  }
  
  p.subtext {
    color: #BFBFBF;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }
  
  .bg-dark {
    background: black !important;
  }
  
  .show-access-code {
    cursor: pointer;
  }
  
  .footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
  }
  
  /* CSS background effect */
  canvas {
    background: white;
    background: radial-gradient(#FFF, #DDD);
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
  }
  .circuit-ui {
    display: none;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  
  /* This only changes this particular animation duration */
  .animate__animated.animate__bounceInUp {
    --animate-duration: 4s;
  }

  .py-4{
    margin-top:0px !important;
    padding: 0px !important;
  }